[Unit]
Description=Misskey daemon

[Service]
Type=simple
User=misskey
ExecStart=/usr/bin/npm start
WorkingDirectory=/home/misskey/misskey
Environment="NODE_ENV=production"
Environment="LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libjemalloc.so.2"
TimeoutSec=60
StandardOutput=append:/var/log/misskey/output.log
StandardError=append:/var/log/misskey/error.log
SyslogIdentifier=misskey
Restart=always

[Install]
WantedBy=multi-user.target
