---
- name: 'Provision Image'
  hosts: default
  become: true

  vars:
    misskey_version: 13.14.2
    nodejs_version: 20.x

  tasks:
    - name: Install system dependencies
      package:
        name:
          - curl
          - wget
          - gnupg
          - apt-transport-https
          - lsb-release
          - ca-certificates
          - acl # become を上手く機能するために必要
          - build-essential # ARM でのビルドに必要
        state: present

    - name: Get Node.js setup
      get_url:
        url: "https://deb.nodesource.com/setup_{{ nodejs_version }}"
        dest: /root/node_setup.sh
        mode: '0777'
    - name: Install Node.js
      shell: |
        bash /root/node_setup.sh
        apt install -y nodejs
        corepack enable
        corepack prepare pnpm@latest --activate

    - name: Install packages
      package:
        name:
          - nginx
        state: present

    # Ref: https://misskey-hub.net/docs/admin/nginx.html
    - name: Copy Nginx config
      copy:
        src: ./nginx.conf
        dest: /etc/nginx/sites-enabled/default

    - name: Add user, misskey
      user:
        name: misskey
        shell: /usr/bin/bash

    - name: Clone misskey
      git:
        repo: https://github.com/misskey-dev/misskey.git
        dest: /home/misskey/misskey
        version: "{{ misskey_version }}"
      become_user: misskey

    # Edit https://github.com/misskey-dev/misskey/blob/develop/.config/example.yml
    - name: Copy config
      copy:
        src: ./default.yml
        dest: /home/misskey/misskey/.config/default.yml
      become_user: misskey

    - name: Install misskey
      shell: |
        cd /home/misskey/misskey && \
        git submodule update --init && \
        pnpm install --frozen-lockfile && \
        pnpm run build
      environment:
        NODE_ENV: production
      become_user: misskey

    # Ref: https://misskey-hub.net/docs/install/manual.html#%E8%B5%B7%E5%8B%95
    - name: Install misskey service
      copy:
        src: ./misskey.service
        dest: /etc/systemd/system/misskey.service

    - name: Create log dir
      shell: |
        mkdir /var/log/misskey && \
        chown misskey:misskey /var/log/misskey && \
        chmod 700 /var/log/misskey

    - name: Enable misskey service
      service:
        name: misskey
        daemon_reload: true
        enabled: true

    - name: Get CloudWatch Agent
      get_url:
        url: https://s3.amazonaws.com/amazoncloudwatch-agent/ubuntu/amd64/latest/amazon-cloudwatch-agent.deb
        dest: /tmp
    
    - name: Install CloudWatch Agent
      apt:
        deb: /tmp/amazon-cloudwatch-agent.deb
      become: yes
